<template>
    <div>
            <md-bottom-bar style="position: fixed; bottom: 0%; z-index: 3"  :md-theme="'bottom-bar-' + theme">
                <md-bottom-bar-item  to="/dashboard/settings" style="color:#819ca9;" id="bottom-bar-item-home" md-label="Settings" md-icon="settings"></md-bottom-bar-item>
                <md-bottom-bar-item to="/dashboard/products"  style="color:#819ca9;" id="bottom-bar-item-pages" md-label="Produits" md-icon="place"></md-bottom-bar-item>
                <md-bottom-bar-item to="/dashboard/chat"  style="color:#819ca9;" id="bottom-bar-item-favorites" md-label="Chat" md-icon="message" ></md-bottom-bar-item>
            </md-bottom-bar>
    </div>
</template>

<script>

    export default {
        name: 'BottomBar'
    }
</script>




<style lang="scss" scoped>
    .phone-viewport {
        width: 322px;
        height: 200px;
        display: inline-flex;
        align-items: flex-end;
        z-index: 3;
        overflow: scroll;
        border: 1px solid rgba(#000, .26);
    }

    .md-bottom-bar{
        background-color: #FFFFFF;

    }
 
</style>