<template>
    <div id="dashboard">
        <transition>
         <router-view></router-view>
        </transition>

        <!-- Bottom nav bar -->
        <BottomBar></BottomBar>


    </div>
    
</template>

<script>
    import BottomBar from "./BottomBar";
    export default {
        name: "Dashboard",
        components: {BottomBar},
    }




</script>

<style scoped>

  

md-icon md-icon-font md-theme-default{
    color: #FFFFFF;
}



</style>