<template>
    <div>

        <div class="backBtn" >
            <router-link to="/">
                <md-button class="md-icon-button md-dense">
                    <md-icon style="color: #000000">keyboard_arrow_left</md-icon>
                </md-button>
            </router-link>
        </div>

        <div class="message">
            <h2>Mot de passe oublié</h2>
            <h3 style="color:#819ca9; font-weight:400">Veuillez saisir votre adresse email</h3>
        </div>

        <div class="loginLayout">





            <div class="loginFormLayout">

                <div class="formsLayout">
                    <md-field md-clearable>
                        <label class="labelStyling" >Adresse email</label>
                        <md-input></md-input>
                    </md-field>

                </div>

            </div>
            <div class="buttonPositioning">
                <router-link to="/dashboard/products">
                    <md-button
                            style="
                border-radius:20px;
                width: 100%; height: 3em;
                text-transform: none;
                margin: 0 auto; background-color:#009975; color: #FFFFFF"
                            class="md-raised">M'envoyer un mail
                    </md-button>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script>



    export default {
        name: 'ForgotPassword',
        data: () => ({
            password: ''
        })
    }
</script>

<style lang="scss" scoped>
    h1{
        font-size: 0.9em;
        color: #A7A7A7;
    }
    .loginFormLayout{
        position: absolute;
        background: none;
        background-color: none;
        top: 55%;
        left: 50%;
        width: 80%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .md-field:after, .md-field:before {
        background-color: #eee;
    }


    .backBtn {
        color: #000000;
        position:fixed;
        top: 3%;
        left: 5%;
    }

    .logo{
        position: fixed;
        top:12%;
        left: 10%;
        width: 15%;
    }

    .message {
        text-align: left;
        position: fixed;
        top:20%;
        color: #000000;
        left: 10%;
    }


    .loginLayout{
        width: 100%;
    }



    .buttonPositioning {
        bottom: 20%;
        position: fixed;
        transform: translateX(-50%);
        left: 50%;
        margin: 0 auto;
        width: 85%;
    }

</style>