<template>
<div >
    <form @submit.prevent="getUser">
        <div class="message">
            <h1 style="font-weight:100">Welcome to,</h1>
            <h1>Green.tech</h1>
        </div>
        <div class="logo">            
          <img src="@/assets/agri.png" alt="logo">
        </div>
    <div class="loginLayout">


            <div class="registerBtn" >
                    <router-link to="/register">
                        <a 
                        style="
                        color: #000000;
                        margin-right:20%; 
                        font-weight:800; 
                        text-decoration: underline #eee; 
                        text-underline-position: under
                        text-decoration-thickness: 6px;">Connexion</a>
                    </router-link>
                     <router-link to="/register">
                        <a style="color: #000000;">Inscription</a>
                    </router-link>
            </div>

        <p style="color: #8b0000; position: absolute; z-index: 3; top: 40%; left: 50%; transform: translate(-50%) "> {{badCredentials}}</p>

        <div class="loginFormLayout">

        <div >
            <md-field md-clearable>
                <label class="labelStyling" >Adresse email</label>
                <md-input require="true" v-model="users.email"></md-input>
            </md-field>

            <md-field >
                <label class="labelStyling">Mot de passe</label>
                <md-input v-model="users.password" type="password"></md-input>
            </md-field>
        </div>


    </div>

        <md-button
                id="buttonPositioning"
                type="submit"
                style="
                 background-color:#009975; color: #FFFFFF; "
                class="md-fab">
            <md-icon
                    style="color: #FFFFFF;">arrow_right_alt
            </md-icon>
        </md-button>


    </div>


    <router-link to="/forgot_password">
        <div class="forgotPassword"> Mot de passe oublié ?</div>
    </router-link>


    <div class="lowerPan"></div>
      <div class="icons">
        <img src="@/assets/facebook_icon.png" width="20%" alt="fblogo" style="margin-right:15%">
        <img src="@/assets/google_icon.png" width="30%" alt="glogo" style="margin-left:18%">
    </div>
    </form>
    <fade-loader
            v-if="spinner === true"
            style="position: fixed; top: 50%; left: 50%; transform: translate(-50%)"
            :loading="loading"
            :color="color"
            :size="size" ></fade-loader>
    <p class="offlineMessage" v-if="isOffline">
        <md-icon>portable_wifi_off</md-icon>
Pas de connexion internet - Mode Hors Ligne
    </p>

</div>
</template>

<script>
    import axios from 'axios';
    import FadeLoader from 'vue-spinner/src/PulseLoader.vue'

    export default {
        name: '',
        components: {
            FadeLoader
        },
        data: () => ({
            spinner: false,
            users: {},
            username: "",
            badCredentials: '',
            response: {}
        }),
        methods: {
            async getUser() {
                await axios.get(
                    "http://127.0.0.1:8090/api/user/email/"+this.users.email,
                    this.users
                )      .then(response => (this.response = response) && console.log(response && this.login() )
                );

            },
            login() {
                if(this.response.data.password === this.users.password && this.response.data.password != null){
                    this.spinner =true;
                    this.$store.state.username = this.response.data.name
                    console.log(this.$store.state.username)
                    setTimeout(() => {
                        this.$router.push('/dashboard/products')
                    }, 1200)
                }
                else
                    this.spinner = true;
                    setTimeout(() => {
                        this.spinner = false;
                        this.badCredentials = "Désolé mais les informations reccueillies sont incorrectes "

                        setTimeout(() => {
                            this.badCredentials = ""
                        }, 2000)

                    }, 3000)


                ;
            }
        }
    }
</script>

<style lang="scss" scoped>

    .offlineMessage {

        position: absolute;

        top: 10%;
        z-index: 5;
        color: #FFFFFF;
        background-color: rgba(0, 0, 0, 0.68);
        width: 100vw;
        text-align: center;
    }

    .lowerPan {
        position: absolute;
        bottom:0%;
        width: 100%;
        height: 10%;
        z-index: 1;
        background-color: #eee;
    }
  
    .loginFormLayout{
        font-family: 'Lato', sans-serif;

        position: absolute;
        background: none;
        bottom: 20%;
        left: 50%;
        width: 80%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .md-field.md-theme-default .md-helper-text, .md-field.md-theme-default .md-count, .md-field.md-theme-default label {

    color: #819ca9 ;    
    }

    .md-field:before {
        background-color: #009975;
    }

    .md-field:after {
        background-color: #eee;


    }


    .icons {
        position: absolute;
        bottom: 25%;
        left: 10%;

    }
  

    .logo{
        position: absolute;
        top:4%;
        left: 10%;
        width: 8%;
         transform: rotate(35deg);
    }
   


    .forgotPassword {
        color: #000000;
        font-weight: 600;
        position: fixed;
        bottom: 12%;
        left: 10%;
        z-index: 2;
    }


    .message {
        text-align: left;
        position: fixed;
        top:20%;
        color: #000000;
        left: 10%;
    }
 

    .loginLayout{
        width: 100%;     
    }

  

    #buttonPositioning {
        z-index: 3;
        bottom: 6%;
        right: 12%;
        position: absolute;
    }

       .registerBtn{
       z-index: 2;
       position: fixed;
       display: inline;
       top: 4%;
        right: 15%

   }
   

</style>