<template>
    <div>
        <md-dialog-confirm
                :md-active.sync="active"
                md-title="Ajouter nouveau légume"
                md-content="Html / Compo ici"
                md-confirm-text="Ajouter"
                md-cancel-text="Fermer"
                @md-cancel="onCancel"
                @md-confirm="onConfirm" />

        <!-- FAB -->
        <md-button class="md-fab md-primary" @click="active = true">
            <md-icon>add</md-icon>
        </md-button>
    </div>
</template>

<script>
    export default {
        name: 'NewProduct',
        data: () => ({
            active: false,
            value: null
        }),
        methods: {
            onConfirm () {
                this.value = 'Ajouter'
            },
            onCancel () {
                this.value = 'Fermer'
            }
        }
    }
</script>

<style lang="scss" scoped>
    .md-dialog /deep/.md-dialog-container {
        max-width: 768px;
        width: 50%;
        height: 30%;
    }
    .md-fab {

        position: fixed;
        bottom: 15%;
        right: 7%;
    }


</style>