<template>
    <div class="productsLayout">

        <!-- User info btn -->
        <div class="userBtn" >
                <table style="position: absolute; top: 15%; right: 4%">
                    <tr>
                        <td>                <a style="font-weight: 800"> {{this.$store.state.username}}</a>
                        </td>
                        <td>
                            <router-link to="/dashboard/userInfo">
                                <md-button  class="md-icon-button md-dense">
                                    <md-icon style="color: #009975">person</md-icon>
                                </md-button>
                            </router-link>
                        </td>
                    </tr>
                </table>


        </div>

        <div >  
            <md-dialog
            :md-active.sync="showDialog" 
            style=" width: 80%; 
                    height:45%; 
                    border-radius: 20px; 
                    margin: 0 auto; 
                    position: fixed; 
                    top: 25%;
                    overflow: scroll">
                <md-dialog-title style=" font-weight: 800;">Ajouter légume</md-dialog-title>

                <!-- Form fields -->
                <md-field  style="width: 80%; margin: 0 auto;">
                    <label>Type</label>
                    <md-select name="movie" id="movie">
                    </md-select>
                </md-field>
                 <md-field  style="width: 80%; margin: 0 auto;">
                    <label>Champs</label>
                    <md-select name="movie" id="movie">
                    </md-select>
                </md-field>
                 <md-field  style="width: 80%; margin: 0 auto;">
                    <label >Parcelle</label>
                    <md-select  name="movie" id="movie">
                    </md-select>
                </md-field>
                 <md-field  style="width: 80%; margin: 0 auto;">
                    <label >Capteur</label>
                    <md-select  name="movie" id="movie">
                    </md-select>
                </md-field>

                <!-- Add button -->
                <md-dialog-actions >
                <md-button class="md-primary" @click="showDialog = false" style="color: #FFFFFF; font-weight: 800; border-radius: 15px; margin-top:5%; padding-left: 5%;padding-right: 5%;">Ajouter</md-button>
                </md-dialog-actions>
            </md-dialog>
        </div>

        <!-- If there's no product found -->
        <div v-if="product != 1">
            <h2 style="color: #819ca9"> No product yet ! </h2>
        </div>


        <div v-if="vegetables =true" style="padding-bottom: 30%; padding-top: 15%">
            <div data-aos="fade-up">

            <md-card  v-for="vegetables in myJson" :key="vegetables.name" class="productCard" md-with-hover style="margin-bottom: 2%" >

                <md-ripple>

                    <md-card-header>

                        <div class="md-title" style="text-align: left">{{vegetables.name}}</div>

                        <div class="md-subhead" style="text-align: left">{{vegetables.id}}</div>

                    </md-card-header>


                    <md-card-content>

                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio itaque ea, nostrum odio. Dolores, sed accusantium quasi non.

                    </md-card-content>

          </md-ripple>
        </md-card>
            </div>
        </div>

        <!-- FAB -->
        <md-button class="md-fab"  @click="showDialog = true">
            <md-icon>add</md-icon>
        </md-button>



    </div>
</template>

<script>

    import io from "socket.io-client";
    var socket = io.connect("http://localhost:4000");

    import json from "../data/vegetables.json";
    export default {
        name: "Products",
        data() {
            return {
                showDialog: false,
                product: 1,
                datacollection: null,
                myJson: json
            }
        },
        created() {
            this.getRealtimeData()
        },
        methods: {
            getRealtimeData() {
                socket.on("newdata", fetchedData => {
                    this.fillData(fetchedData)
                })
            },
            fillData(fetchedData) {
                this.datacollection = {
                    labels: [this.getRandomChartValues(fetchedData), this.getRandomChartValues(fetchedData)]
                }
                console.log(this.datacollection.labels)
            },
            getRandomChartValues(number){
                return Math.floor(Math.random() * number)
            }
        }
    }
</script>

<style>


.productsLayout {
    width: 100%;
    height: 100%;

}

 .userBtn {
     color: #000000;
     position:fixed;
     background-color: #FFFFFF;
     z-index: 4;
     width: 100vw;
     height: 8vh;

    }

.md-fab {

position: fixed;
bottom: 10%;
right: 5%;

}

.productCard    {
    border-radius: 15px;
    margin: 0 auto;
    width: 80%;

}

</style>