<template>
<div>

  <div class="backBtn" >
        <router-link to="/">
         <md-button class="md-icon-button md-dense">
             <md-icon style="color: #000000">keyboard_arrow_left</md-icon>
         </md-button>
        </router-link>
     </div>

        <div class="message">
            <h2>Inscription</h2>
            <h3 style="color:#819ca9; font-weight:400">Inscrivez-vous pour continuer</h3>
        </div>
     
    <div class="loginLayout">

    <div class="loginFormLayout">

        <form @submit.prevent="createPost" class="formsLayout">
            <md-field md-clearable>
                <label class="labelStyling" >Utilisateur</label>
                <md-input v-model="post.name"></md-input>
            </md-field>

        <md-field md-clearable>
                <label class="labelStyling" >Adresse email</label>
                <md-input v-model="post.email"></md-input>
            </md-field>

            <md-field >
                <label class="labelStyling">Mot de passe</label>
                <md-input type="string" v-model="post.password"></md-input>
            </md-field>
            <md-field >
                <label class="labelStyling">Confirmer mot de passe</label>
                <md-input type="string"></md-input>
            </md-field>

            <div class="buttonPositioning">
                <md-button
                        v-if="isOnline"
                        type="submit"
                        style="
                border-radius:20px;
                width: 100%; height: 3em;
                text-transform: none;
                margin: 0 auto; background-color:#009975; color: #FFFFFF"
                        class="md-raised">S'inscrire
                </md-button>    <md-button
                        v-if="isOffline"
                        type="submit"
                        style="
                        border-radius:20px;
                        width: 100%; height: 3em;
                        text-transform: none;
                        margin: 0 auto;"
                        class="md-raised" disabled >S'inscrire
                </md-button>
            </div>
        </form>
        <md-dialog-confirm
                style="border-radius: 15px"
                :md-active.sync="active"
                :md-cancel-text= null
                md-title="Compte créé"
                @md-confirm=toHome
                md-content="Vous pouvez désormais retourner à l'accueil afin de vous connecter"
                md-confirm-text="Accueil"
              />

    </div>
        <p  style="color: darkred; position: absolute; z-index: 3; bottom: 10%; left: 50%; transform: translate(-50%); text-align: center "> {{badCredentials}} </p>

    </div>
    <fade-loader
            v-if="spinner === true"
            style="position: fixed; top: 50%; left: 50%; transform: translate(-50%)"
            :loading="loading"
            :color="color"
            :size="size" ></fade-loader>

    <p class="offlineMessage" v-if="isOffline">
        <md-icon>portable_wifi_off</md-icon>
        Pas de connexion internet - Inscription impossible
    </p>
    </div>
</template>

<script>
    import axios from 'axios';
    import FadeLoader from 'vue-spinner/src/PulseLoader.vue'

    export default {
        name: '',
        components: {
            FadeLoader
        },
        data() {
            return {
                active: false,
                password: '',
                spinner: false,
                post: {},
                info: null,
                badCredentials: ''

            }
        },
        methods: {
            async createPost() {
                 await axios.post(
                    "http://127.0.0.1:8090/api/createUser",
                    this.post
                )      .then(response => (this.info = response.status) && console.log(response.status && this.onConfirm()))
                     .catch((error) => {
                         this.spinner = true;
                         setTimeout(() => {
                             this.spinner = false;
                             this.badCredentials = "Erreur "+error.response.status +` - `+"Désolé mais les informations fournies sont incorrectes";

                             setTimeout(() => {
                                 this.badCredentials = ""
                             }, 2000)

                         }, 2000)

                     })
            },
            onConfirm () {
                if(this.info === 200) {
                    this.spinner = true;
                    setTimeout(() => {
                        this.spinner = false;
                        this.active = true
                    }), 3000
                }
            },
            toHome() {
                this.$router.push('/')
            },
        }

    }
</script>

<style lang="scss" scoped>

    .offlineMessage {

        position: absolute;

        top: 10%;
        z-index: 5;
        color: #FFFFFF;
        background-color: rgba(0, 0, 0, 0.68);
        width: 100vw;
        text-align: center;
    }

    h1{
        font-size: 0.9em;
        color: #A7A7A7;
    }
    .loginFormLayout{
        position: absolute;
        background: none;
        top: 60%;
        left: 50%;
        width: 80%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

     .md-field:after, .md-field:before {
        background-color: #eee;
    }


 .backBtn {
       color: #000000;
        position:fixed;
        top: 3%;
        left: 5%;
    }

    .logo{
        position: absolute;
        top:12%;
        left: 10%;
        width: 15%;
    }
   
    .message {
        text-align: left;
        position: fixed;
        top:15%;
        color: #000000;
        left: 10%;
    }
 

    .loginLayout{
        width: 100%;     
    }

    md-button md-ripple {
      background-color: slategrey;
      color: #FFFFFF;
  }

    .buttonPositioning {
        margin-top: 20%;
        margin-left: auto;
        margin-right: auto;
        width: 85%;
    }

</style>