<template>
    <div class="userInfoLayout">

    <div class="backBtn" >
        <router-link to="/dashboard/products">
         <md-button class="md-icon-button md-dense">
             <md-icon style="color: #009975">keyboard_arrow_left</md-icon>
         </md-button>
        </router-link>
     </div>

        <div class="userInfoContainer">
            <router-link to="/">
                <md-button style="position: absolute; bottom: 10%; left: 50%; transform: translateX(-50%)" class="md-raised md-accent">Se déconnecter</md-button>

            </router-link>

        </div>

    </div>
</template>

<script>

export default {
    name: "Products",
}
</script>

<style>
.userInfoLayout{
    width: 100%;
    height: 100%;
}

.userInfoContainer {
    width:  80vh;
}

 .backBtn {
       color: #FFFFFF;
        position:fixed;
        top: 3%;
        left: 5%;
    }
</style>