<template>
  <div id="app">
    <transition name="fade">
      <router-view></router-view>
    </transition>
  </div>
</template>

<script>
  //listing imports
  import Vue from 'vue';
  import VueMaterial from 'vue-material';
  import 'vue-material/dist/vue-material.min.css';
  Vue.use(VueMaterial)


  export default {
  name: 'App',

}
</script>

<style>
#app {
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: #2c3e50;
  width: auto;
  padding: none;
  margin: none;
  height: auto;
}

  body{
    background-color: #FFFFFF;
    max-width: 100%;
    max-height: 100%;
    
  }

    .md-field.md-theme-default .md-helper-text, .md-field.md-theme-default .md-count, .md-field.md-theme-default label {
      color : #000000;
    }


    .md-input{
        margin: 1%;
        color: #819ca9;
    }
  
    .md-primary{
        background-color: #4B946A;
        color: #FFFFFF;
    }
    .labelStyling{
        color: #000000;
    }




</style>
